<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon page -->
    <link rel="shortcut icon" href="./assets/icon.png" type="image/x-icon">
    <!-- styles css -->
    <link rel="stylesheet" href="./css/index.css">
    <title>Pomodoro</title>
</head>
<body>
    <audio src="" id="song-container" autoplay></audio>
    <div class="container">
        <form action="#" id="form">
            <input type="text" placeholder="Ingresa tu tarea" id="taskName" autocomplete="off">
            <input type="submit" value="Crear" class="btn">
        </form>
        <div class="tasks"></div>
    </div>
    

    <!-- librery js -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- app.js -->
<script src="../scripts/app.js"></script>
</body>
</html>